:root {
    --bg-col: white;
    --text-col: black;
    --link-col: blue;
}

.dark {
    --bg-col: black;
    --text-col: white;
    --link-col: dodgerblue;
}

.themeswitch {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
}

body {
    font-family: "Comic Sans MS";
    color: var(--text-col);
    background-color: var(--bg-col);
    padding: 0 1rem;
    line-height: 1.5rem;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

kbd {
    background-color: rgb(235, 236, 237);
    color: black;
    padding: .5%;
}

.container  {
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    background-color: var(--bg-col);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.home-button {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: 1.5rem;
}

button {
    border: solid;
    background-color: var(--bg-col);
    color: var(--text-col);
    cursor: pointer;
    font-family: "Comic Sans MS";
    font-size: 1rem;
    transition-duration: .25s;
}

button:hover {
    background-color: var(--text-col);
    color: var(--bg-col);
    border-color: var(--text-col);
}

.answer-button {
    margin: auto;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.tag:hover {
    background-color: orange;
    cursor:default;
}

.element:hover {
    background-color: greenyellow;
    cursor:default;
}

.link {
    color: var(--link-col);
}