.light {
    --bg-col: rgb(193, 227, 247);
    --box-col: #ffffff;
    --border-col: black;
    --text-col: black;
    --link-col: blue;
    --task-col: rgb(190, 5, 5);
    --h-text: black;
    --border-thickness: 3px;
}

:root {
    --bg-col: black;
    --box-col: #212b33;
    --border-col: #141f2a;
    --text-col: white;
    --link-col: rgb(99, 175, 252);
    --task-col: rgb(255, 166, 0);
    --h-text: black;
    --border-thickness: 1px;
}

.themeswitch {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
}

body {
    font-family: "Comic Sans MS";
    color: var(--text-col);
    background-color: var(--bg-col);
    padding: 0 1rem;
    line-height: 1.5rem;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

kbd {
    background-color: var(--bg-col);
    color: var(--text-col);
    padding: .5%;
}

h3 {
    text-decoration: underline;
}

.container  {
    padding: 1rem;
    border: solid;
    border-radius: 1rem;
    border-color: var(--border-col);
    background-color: var(--box-col);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.home-button {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: 1.5rem;
}

button {
    border: solid;
    border-radius: .4rem;
    background-color: var(--box-col);
    color: var(--text-col);
    cursor: pointer;
    font-family: "Comic Sans MS";
    font-size: 1rem;
    transition-duration: .25s;
}

button:hover {
    background-color: var(--text-col);
    color: var(--box-col);
    border-color: var(--text-col);
}

.answer-button {
    margin: auto;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.tag:hover {
    background-color: orange;
    color: var(--h-text);
    cursor:default;
}

.element:hover {
    background-color: greenyellow;
    cursor:default;
    color: var(--h-text);
}

.link {
    color: var(--link-col);
}

#task {
    border: solid var(--border-thickness) var(--task-col);
}

.answer-button {
    color: var(--task-col);
}

.answer-button:hover {
    background-color: var(--task-col);
    border-color: var(--task-col);
}

.kt {
    color: var(--task-col);
}